################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Waterpedia Winform/FileContentIndex/b0deeeb7-2039-49ff-bfba-b1259805738b.vsidx
